body {
    background-color: rgb(143, 191, 185);
}

.nav {
    width: auto;
    height: 40px;
    border-radius: 5px;
    margin: 0px auto 15px auto;
    background-color: rgba(82, 158, 149, .7);
    padding: 5px;
}

.user {
    width: 150px;
    height: 500px;
    border-radius: 10px;
    margin: 5px auto 10px 0px;
    background-color: rgba(82, 158, 149, .7);
    float: left;
    padding: 5px;
}

.list {
    width: 25%;
    height: auto;
    border: solid gray 1px;
    border-radius: 5px;
    margin: 20px 10px 10px 10px;
    background-color: rgba(252, 252, 252, .5);
    float: left;
    padding: 5px;
}