<html>
    <head>
        <title>To-Do</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <div class="nav">
            Navigation
        </div>
        <div class="user">
            User Info
        </div>
        <div class="list" id="1">
            List 1
        </div>
        <div class="list" id="2">
            List 2
        </div>
        <div class="list" id="3">
            List 3
        </div>
    </body>
</html>